.btn {
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.25rem 0.5rem;
  border-radius: 6px;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}

&-btnBlue {
  background-color: scale-color($bluebtn, $lightness: 50%);
  border-color: $bluebtn;
  color: scale-color($bluebtn, $lightness: 50%);
}
